@page "/allProducts";

<center><h3 class="fw-bold">Products</h3></center>
<hr />
<a href="/addProduct" class="btn btn-primary float-end me-5 mb-2"> Add Products </a>

@if (productList == null)
{
    <p>Loading...</p>
}
else if (productList.Count == 0)
{
    <p>No products found.</p>
}
else
{
    <div class="ms-xl-5 me-">
        <table class="table bg-light">
            <tr>
                <th class="ps-3 pt-3">ID</th>
                <th class="ps-3 pt-3">Name</th>
                <th class="ps-3 pt-3">Price</th>
            </tr>
            <tbody>
                @foreach (var product in productList)
                {
                    <tr>
                        <td class="ps-3 pt-3">@product.Id</td>
                        <td class="ps-3 pt-3">@product.Name</td>
                        <td class="ps-3 pt-3">@product.Price</td>
                        <td>
                            <a href="/updateProduct/@product.Id" class="btn btn-primary">Update</a>
                        </td>
                        <td>
                            <button @onclick="() => RemoveProduct(product)" class="btn btn-danger">Delete</button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
}

