@page "/updateProduct/{id:int}"
<h3>UpdateProduct</h3>

<form @onsubmit="HandleUpdateProduct">
    <div>
        <label for="productName">Name:</label>
        <input type="text" id="productName" @bind="product.Name" />
    </div>
    <div>
        <label for="productPrice">Price:</label>
        <input type="number" id="productPrice" @bind="product.Price" />
    </div>
    <button type="submit">Update Product</button>
</form>


